<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" href="../static/css/navbar.css">

  </head>
  <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{h_name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home')}}">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
       
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('headlogout')}}">
          <i class="fa fa-bell">
            <span class="badge badge-info">11</span>
          </i>
          Logout
        </a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


  <a href="{{url_for('eventform')}}">ADD EVENT</a>


<br>
<br>

<a href="{{url_for('participant_info')}}">PARTICIPANT</a>
<br>

<br>

<h1>EVENTS</h1>

{% for i in event_info %}


<table>
  <tr>
    <th>EVENT</th>
    <th>DATE</th>
    <th>CLUB</th>
    <th>UPDATE</th>
    <th>DELETE</th>
    <th>Result</th>
   
  </tr>
  <tr>
    <td>{{i.event_name}}</td>&nbsp;
    <td>{{i.date_created}}</td>&nbsp;
    <td>{{i.club_name}}</td>&nbsp;
    <td>  <a href="{{url_for('update',id=i.id)}}">UPDATE EVENT</a>
    </td>
    <td>  <a href="{{url_for('delete',id=i.id)}}">DELETE EVENT</a>
     
    </td>
    <td><a href="{{url_for('result',id=i.id)}}">Result</a></td>
  </tr>
  

  

 
</table>

<br>




{% endfor %}




    
   
    
</body>
</html>