<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<link rel="icon" href="logo.png">
	<link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
  	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
	<!----hero Section start---->

	<div class="hero">
		<nav>
			<h2 class="logo"><span>Club Management System</span></h2>
			<ul>
				<li><a href="club_page.html">Clubs</a></li>
				<li><a href="#102">About</a></li>
				<li><a href="#103">Services</a></li>
				<li><a href="#101">Gallery</a></li>
			</ul>
			<a href="{{url_for('login')}}" class="btn">Login</a>
			<a href="{{url_for('headlogin')}}" class="btn">Head Login</a>
		</nav>

		<div class="content" id="101">
			<h1>Gallery </h1>
		</div>
	</div>

	<!--Infinite Image Hover-->

	<div class="container">
		<div class="slide-Container">
			<div class="slide-Image">
				<img src="/static/p1.jpg" alt="">
			</div>
			<div class="slide-Image">
				<img src="/static/p5.jpg" alt="">
			</div>
			<div class="slide-Image">
				<img src="/static/p3.jpg" alt="">
			</div>
			<div class="slide-Image">
				<img src="/static/p4.jpg" alt="">
			</div>
			<div class="slide-Image">
				<img src="/static/p5.jpg" alt="">
			</div>
			<div class="slide-Image">
				<img src="/static/p6.jpg" alt="">
			</div>
			<div class="slide-Image">
				<img src="/static/p7.jpg" alt="">
			</div>

			<div class="slide-Image">
				<img src="/static/p1.jpg" alt="">
			</div>
			<div class="slide-Image">
				<img src="/static/p5.jpg" alt="">
			</div>
			<div class="slide-Image">
				<img src="/static/p3.jpg" alt="">
			</div>
			<div class="slide-Image">
				<img src="/static/p4.jpg" alt="">
			</div>
			<div class="slide-Image">
				<img src="/static/p5.jpg" alt="">
			</div>
			<div class="slide-Image">
				<img src="/static/p6.jpg" alt="">
			</div>
			<div class="slide-Image">
				<img src="/static/p7.jpg" alt="">
			</div>
		</div>
	</div>
    
    <!--mouse scroll-->
    <div class="moving-mouse-holder">
        <div class="mouse">
          <div class="mouse-button"></div>
        </div>
        <div class="text">SCROLL DOWN <br> TO EXPLORE MORE</div>
      </div>

	

	<!----About section start---->
	<section class="about" id="102">
		<div class="main">
			<div class="about-text">
				<h2>About</h2>
				<h5>Club <span>Management</span> <span> System</span></h5>
				<p>	Club management system is an all-in-one solution that helps clubs grow their membership while saving time and efforts. It does this by automating administrative tasks associated with running a member-based organization, as well as offering tools and features that elevate their member experience.
					<br>
					Club Management System helps users manage dance studios, sports teams, yoga studios, martial art clubs and fitness. It tracks members. Key features include account relationship management, custom data fields, risk reporting, gallery management.</p>
			</div>
		</div>
	</section>

	<!-----service section start----------->
	<div class="service" id="103">
		<div class="title">
			<h2>Our Services</h2>
		</div>

		<div class="box">
			<div class="card">
				<i class="fas fa-bars"></i>
				<h5>Managing Clubs</h5>
				<div class="pra">
					<p>Here we basically manage all sorts of clubs, Dance Club, Technical Club, Sports Club, etc.</p>
				</div>
			</div>

			<div class="card">
				<i class="far fa-user"></i>
				<h5>Club Members</h5>
				<div class="pra">
					<p>Use Club Management System as an inexpensive way to automate nearly all of their administrative work so they can get back to what's important: enjoying their club's activities and creating value for their members.</p>
				</div>
			</div>

			<div class="card">
				<i class="far fa-bell"></i>
				<h5>Managing Events</h5>
				<div class="pra">
					<p>The clubs primary focus is to work in collaboration with the Student council members-organising and managing all events hosted by them from intra-collegiate events such as the Fresher's Talents/National fest in the college.</p>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<p class="end">&#169 2023 CopyRight By Top_1_Percent</p>
	</footer>
</body>
</html>