<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in info %}
    <table>
        <tr>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>EVENT</th>
        </tr>
        <tr>
            <td>{{i.participant_name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.event_name}}</td>
        </tr>
    </table>

    {% endfor %}
</body>
</html>