<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, th, td {
      border:1px solid black;
    }
    </style>
<body>
    <h1>Welcome to Sports cluB</h1>

    <h1>EVENTS</h1>
    {% for i in list %}


    <table>
      <tr>
        <th>EVENT</th>
        <th>DATE</th>
        <th>CLUB</th>
        <th>Register</th>
      </tr>
      <tr>
        <td>{{i.event_name}}</td>
        <td>{{i.date_created}}</td>
        <td>{{i.club_name}}</td>
        <td><a href="{{url_for('participant',event_name=i.event_name)}}">Register</a></td>
      </tr>
    </table>
    
    
    
    
    
    
    {% endfor %}

</body>
</html>