<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
   



    <h1>User Info</h1>
   
    <table class="table table-dark">
        <thead>
           
          <tr>
            <th scope="col"> Name</th>
            <th scope="col">Club</th>
            <th scope="col">Email</th>
            <th scope="col">Date Joined</th>
            <th scope="col">Event particpated</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> {{info.user_name}}</th>
            <td> {{info.club_name}}</td>
            <td> {{info.email}}</td>
            <td>{{info.date_joined}}</td>
            <td> {% for i in event %}
                {{i.event_name}}
               <br>
                {% endfor %}  </td>
          </tr>
        
      </table>
  

    
    
</body>
</html>